@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --red: #FF362F;
  --yellow: #FFC921;
  --orange: #E8761E;
}

body {
  grid-template: 4rem 1fr / 20rem 1fr;
  grid-template-areas:
    "navigator header"
    "navigator main";
}

nav {
  grid-area: navigator;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

@media (max-width: 767px) {
}